$font-family: 'Inter', sans-serif;
$primary-color:#ee187f;
$secondary-color:#61d5b8;
$small-device:600px;
$violet-gradient:linear-gradient(to right top, #ee187f, #ee189f, #ef187f, #ee587f, #ee487f);
$blue-gradient:linear-gradient(to left bottom, #61d5b8, #44cfc4, #26c8cf, #0fc1d8, #1eb8de);
$white:white;
$black:black;
$shadow:10px 5px 20px #090a0a37;